@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Open Sans", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

.first {
    background-color: #1F2937;
    color: #ffffff;
}

.big-intro > button {
    background-color: #659ddd;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border-style: none;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* targets shinra logo */
div > img:first-child {
    width: 50px;
    height: 50px;
}

.shinra-greeting {
    display: flex;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    align-items: center;
}

.big-intro > div:first-child {
    font-size: 48px;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 150px;
}

.crew {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.crew-txt {
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}

/* targets crew logos */
.kombatant > img:first-child {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: #5795be solid 2px;
}

.kombatant {
    width: 150px;
    height: 150px;
    text-align: center;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: left;  
    color: #757575;
}

.quoteLord {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-left: 143px;
    font-weight: 800;
}

.fourth {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.container {
    display: flex;
    gap: 50px;
    padding: 50px 100px;
    background-color: #659ddd;
    border-radius: 25px;
    color: white;
    width: 750px;
    justify-content: space-between;
}

.action > div:first-child {
    font-weight: 900;
    font-size: 20px;
}

.container > button {
    background-color: #659ddd;
    border-radius: 10px;
    padding: 0px 25px;
    border-color: white;
    color: white;
    font-size: 15px;
    font-weight: 900;
    border-style: solid;
}
.container > button:active {
    border-color: rgb(99, 99, 99);
}

.fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color: #1F2937;
    color: white;
    font-size: 20px;
}